<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to newsite</title>
</head>
<body>

<div class="tab">
    <button onclick="window.location.href='/'" class="tablinks">Home</button>
    <button onclick="window.location.href='/page1'" class="tablinks">Page One</button>
    <button onclick="window.location.href='/page2'" class="tablinks">Page Two</button>
</div>

<h3>Home Page Content</h3>
<p>This is the content of the home page.</p>

</body>
</html>
